* {
  margin: 0;
  padding: 0;
}
:root {
  --gradient: linear-gradient(
    180deg,
    rgba(45, 112, 1253, 0.74) 0%,
    #163e92 100%
  );
  --dark: #001747;
  --grey: #b1bacb;
  --grey-border: rgba(210, 210, 210, 0.75);
  --grey-light: #eeeeee;
  --grey-dark: $405175;
  --blue: #2d70fd;
  --green: #00d8a7;
  --white: #ffffff;
  --red: #ff0000;
  --yellow: #ffff00;
}
body {
  margin: 0;
  height: 100vh;
  background: var(--gradient);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
h3 {
  margin: 0;
  text-align: center;
  padding: 1rem 0;
  text-transform: uppercase;
  height: 3rem;
  font-weight: 900;
}
.err {
  width: 80%;
  display: none;
  background-color: var(--yellow);
  color: var(--red);
  margin: 2px 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 2rem;
  background: var(--white);
  padding: 3rem;
  height: 50%;
  width: 60%;
  box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
  max-width: 30rem;
}
.add-btn {
  color: var(--white);
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  background-color: var(--blue);
  border: none;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}
.input {
  position: relative;
  display: flex;
}
form {
  width: 90%;
  border: 1px;
}
#task-input {
  width: 70%;
}
.task-items {
  list-style: none;
  width: 90%;
}
#search {
  width: 80%;
  margin: 10px 0;
  display: flex;
  gap: 1.8rem;
  background-color: rgb(246, 210, 210);
  padding: 0.66rem;
  border-radius: 0.3rem;
}

#task-input {
  width: 100%;
  border: 0.06rem solid #d2d2d2bf;
  border-radius: 0.5rem;
  padding: 1.25rem;
  font-size: 1rem;
}
#task-input::placeholder {
  color: var(--grey);
}
ul {
  padding: 0;
  margin: 0;
}
.delete-btn {
  color: var(--white);
  gap: 1.8rem;
  background-color: var(--red);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.edit-btn {
  color: var(--white);
  gap: 1.8rem;
  background-color: var(--green);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
.clear-tasks {
  width: 80%;
  margin: 10px 0;
  display: flex;
  gap: 1.8rem;
  background-color: rgb(246, 210, 210);
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.footer {
  display: flex;
  gap: 1.8rem;
  background-color: var(--white);
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.made-by,
.author {
  font-size: 0.9rem;
}

.made-by {
  color: var(--grey-dark);
}

.author {
  color: var(--blue);
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 15px;
}
